<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Document</title>
</head>
<body>
<div class="container">
    <h1>Order a Pet</h1>
    <form action="#" method="post" class="order">
        <div class="row">
            <div class="col-6">
                <label class="col-form-label" for="pet">What kind of pet would you like to order?</label>
            </div>
            <div class="col-6">
                <input class="form-control" name="pet" id="pet" type="text"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="col-form-label" for="color">Select a color</label>
            </div>
            <div class="col">
                <select class="form-select" id="color" name="color">
                    <option value="Brown">Brown</option>
                    <option value="Black">Black</option>
                    <option value="Orange">Orange</option>
                </select>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                <label class="col-form-label">Select a type</label>
            </div>
            <div class="col">
                <input type="radio" id="pet-type-robotic" name="pet-type" value="robotic">
                <label for="pet-type-robotic">Robotic</label>
                <input type="radio" id="pet-type-stuffed" name="pet-type" value="stuffed">
                <label for="pet-type-robotic">Stuffed</label>
            </div>
        </div>

        <button type="submit" class="btn btn-outline-secondary py-1 px-3">Place Order</button>
    </form>
</div>
</body>
</html>